<h1>Editing <%= @mod.name %> Metadata</h1>

<%= form_for :mod, url: mod_path(@mod), method: :patch do |f| %>
  <p>
    <%= f.label :modid, "Mod ID" %><br>
    <%= f.text_field :modid %>
  </p>
  
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  
  <p>
    <%= f.label :version_number %><br>
    <%= f.text_field :version_number %>
  </p>
  
  <p>
    <%= f.label :package_name %><br>
    <%= f.text_field :package_name %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= button_to 'Delete me :(', mod_path(@mod), method: :delete %>