<h1>My mods</h1>

<% if @mods.length == 0 %>
	<p>No mods yet :(</p>
<% else %>
	<% @mods.each do |mod| %>
		<p><%= link_to mod.name, mod_path(mod) %></p>
	<% end %>
<% end %>

<%= button_to 'New mod', new_mod_path, method: :get %>

<p><%= Mod.column_names %></p>
<p><%= Item.column_names %></p>
<p><%= Block.column_names %></p>