<h1>Editing <%= @block.name %></h1>

<%= form_for :block, url: mod_block_path(@mod, @block), method: :patch do |f| %>
  <p>
    <%= f.label :blockid %><br>
    <%= f.text_field :blockid %>
  </p>
  
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :harvest_tool %><br>
    <%= f.select :harvest_tool, Block.harvest_tools.keys.map {|x| [x.humanize, x]}, selected: @block.harvest_tool %>
  </p>
  
  <p><strong>Current texture:</strong> <br> <%= image_tag @item.texture.url, :class => "texture" %></p>
  <p>
    <%= f.label :texture %><br>
    <%= f.file_field :texture %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>