<h1>New Block</h1>

<%= form_for :block, url: mod_blocks_path do |f| %>

  <p>
    <%= f.label :blockid %><br>
    <%= f.text_field :blockid %>
  </p>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :harvest_tool %><br>
    <%= f.select :harvest_tool, Block.harvest_tools.keys.map {|x| [x.humanize, x]} %>
  </p>
  
  <p>
    <%= f.label :texture %><br>
    <%= f.file_field :texture %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>