<h1>New Item</h1>

<%= form_for :item, url: mod_items_path, html: { multipart: true } do |f| %>
  <p>
    <%= f.label :itemid %><br>
    <%= f.text_field :itemid %>
  </p>
  
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :max_stack_size %><br>
    <%= f.text_field :max_stack_size %>
  </p>

  <p>
    <%= f.label :creative_tab %><br>
    <%= f.text_field :creative_tab %>
  </p>

  <p>
    <%= f.label :texture %><br>
    <%= f.file_field :texture %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>