<!doctype html>
<html>
	<head>
		<title>Modmaker</title>
		<meta charset="utf/8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
		<%= stylesheet_link_tag "application" %>
		<%= stylesheet_link_tag params[:controller] %>
	</head>
	<body>
		<div id="flash">
			<% if flash[:error] != nil %>
				<p class="alert alert-danger"><%= flash[:error] %></p>
			<% end %>

			<% if flash[:notice] != nil %>
				<p class="alert alert-info"><%= flash[:notice] %></p>
			<% end %>
		</div>

		<div class="container-fluid">
			<nav class="row">
				<h1>Modmaker</h1>

				<div id="right">
					<% if user_signed_in? %>
						<%= button_to "Log out", destroy_user_session_path, method: :delete %>
					<% else %>
						<%= button_to "Log in", new_user_session_path %> <%= button_to "Register", new_user_registration_path, method: :get %>
					<% end %>
				</div>
			</nav>
			
			<main>
				<%= yield %>
			</main>
		</div>
	</body>
</html>