<!doctype html>
<html>
	<head>
		<title>Modmaker</title>
		<meta charset="utf/8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
		<%= stylesheet_link_tag "application" %>
		<%= stylesheet_link_tag params[:controller] %>
	</head>
	<body>
		<div class="container-fluid">
			<nav class="row">
				<h1>Modmaker</h1>

				<% if user_signed_in? %>
					<p> <%= button_to "Log out", destroy_user_session_path, method: :delete %></p>
				<% else %>
					<p><%= link_to "Log in", new_user_session_path %> | <%= link_to "Register", new_user_registration_path %></p>
				<% end %>
			</nav>
		
			<p><%= flash[:error] %></p>
			<p><%= flash[:notice] %></p>
			<p><%= flash[:alert] %></p>
			
			<main>
				<%= yield %>
			</main>
		</div>
	</body>
</html>